.Logo{
    display: flex;
    justify-content: center;
    background: linear-gradient(261.95deg, #153EF5 -18.21%, #7C2BFD 120.86%);
    border-radius: 4px;
    width: 153px;
    height: 41px;
    padding: 9px;
    margin: 0;
}