.Buttom{
mix-blend-mode: normal;
border-radius: 38px;
text-align: center;
padding: 15px;
padding-left: 25px;
padding-right: 25px;
text-decoration: none;
color: #FFFFFF;
}
.ButtomConteiner{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
align-items: center;
}
.violet{
    .Buttom{
        background: linear-gradient(93.66deg, #698DFD -15.49%, #1A3DF5 129.65%);       
    }
    .ButtomConteiner{
        box-shadow: #698DFD;
    }
    
}
.red{
    .Buttom{
        background: linear-gradient(90.08deg, #F35635 0.96%, #772BFC 100%);
    }
    
}