.Logo{
    background: linear-gradient(261.95deg, #153EF5 -18.21%, #7C2BFD 120.86%);
    border-radius: 4px;
    
}
.Image{
    background: url('./Group\ 425.png') no-repeat center  ;
    width: 175px;
    height: 50px;
    
}