
    .Slider{
        padding: 45px;
        display: flex;
        justify-content: space-around;
        height: 500px;     
    }
    .Discript{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 47%;         
    }
    .img_shodow {
        width: 0px;
        height: 0px;
        margin: 0px;
        margin-left: 270px;
        margin-top: -10px;
    }

    .Slider1{
       
        .img_shodow {
            box-shadow: 55px -250px 100px 170px rgb(243, 86, 53, 0.5),
                     -10px -320px 100px 160px  rgb(119, 43, 252, 0.7),
                     -75px -250px 100px 150px rgb(243, 86, 53, 0.5),
                     -30px -110px 100px 180px rgb(119, 43, 252, 0.7);
            width: 0px;
            height: 0px;
            margin: 0px;
            margin-left: 250px;
            margin-top: -100px;
            }
    }
    .Slider2_1{
        .Discript{
            justify-content: space-evenly;
            width: 25%;
        }
        .img_shodow {
            box-shadow: -100px -200px 100px 140px rgb(21, 62, 245, 0.5),
            0px -190px 90px 100px rgba(123, 43, 253, 0.637),
            -140px -50px 100px 160px rgba(123, 43, 253, 0.575);
            }
    }
    .Slider2_2{
        .Discript{
            justify-content: space-evenly;
            width: 25%;
        }
        .img_shodow {
            box-shadow: -100px -200px 100px 140px rgb(21, 62, 245, 0.5),
            0px -190px 90px 100px rgba(123, 43, 253, 0.637),
            -140px -50px 100px 160px rgba(123, 43, 253, 0.575);
            }
    }
    .Slider2_3{
        .Discript{
            justify-content: space-evenly;
            width: 25%;
        }
        .img_shodow {
            box-shadow: -100px -200px 100px 140px rgb(21, 62, 245, 0.5),
            0px -190px 90px 100px rgba(123, 43, 253, 0.637),
            -140px -50px 100px 160px rgba(123, 43, 253, 0.575);
            }
    }

    .Slider3{
        
    .Discript{
        width: 38%; 
    }
        .img_shodow {
            box-shadow: 55px -250px 100px 150px rgb(105, 141, 253, 0.5),
                        -10px -320px 100px 150px rgb(26, 61, 245, 0.5),
                        -75px -250px 100px 150px rgb(105, 141, 253, 0.5),
                        -30px -110px 100px 150px rgb(26, 61, 245, 0.5);
            width: 0px;
            height: 0px;
            margin: 0px;
            margin-left: 250px;
            margin-top: -100px;
            }
    }
    .Slider4{
        .Slider{
            flex-direction: row-reverse;     
        }
        .Discript{
            width: 27%;
        }

        .img_shodow {
            box-shadow: 105px -190px 110px 100px rgb(243, 86, 53, 0.5),
                     0px -210px 90px 110px  rgb(119, 43, 252, 0.7),
                     -55px -210px 100px 100px rgb(243, 86, 53, 0.5),
                     -30px -110px 100px 130px rgb(119, 43, 252, 0.7);
            width: 100px;
            height: 0px;
            margin: 0px;
            margin-left: 170px;
            margin-top: -50px;
            }
    }
    .Slider5{
        .Discript{
            width: 27%;
        }
        .img_shodow {
            box-shadow: 95px -220px 100px 140px rgb(105, 141, 253, 0.5),
            -10px -300px 90px 100px rgb(26, 61, 245, 0.5),
            -75px -250px 100px 160px rgb(105, 141, 253, 0.5),
            -30px -110px 100px 160px rgb(26, 61, 245, 0.5);
            // width: 0px;
            // height: 0px;
            // margin: 0px;
            // margin-left: 270px;
            // margin-top: -10px;
            }
    }
    .Slider6{
        .Slider{
            flex-direction: row-reverse;     
        }
        .Discript{
            width: 40%;
        }

        .img_shodow {
            box-shadow: 105px -190px 100px 140px rgb(243, 86, 53, 0.5),
            0px -200px 90px 100px rgb(119, 43, 252, 0.7),
            -95px -150px 100px 160px rgb(243, 86, 53, 0.5),
            -30px -110px 100px 160px rgb(119, 43, 252, 0.7);
        }
    }
    .Slider7{
        .Discript{
            justify-content: space-evenly;
            width: 25%;
        }
        .img_shodow {
            box-shadow: -100px -200px 100px 140px rgb(21, 62, 245, 0.5),
            0px -190px 90px 100px rgba(123, 43, 253, 0.637),
            -140px -50px 100px 160px rgba(123, 43, 253, 0.575);
            }
    }
    .Slider2_1{
        .Slider{
            flex-direction: row-reverse;     
        }
        .Discript{
            justify-content: space-evenly;
            width: 45%;
            // align-items: center;
        }
        .img_shodow {
            box-shadow: 0px -300px 90px 160px rgb(105 141 253),
            10px -262px 90px 160px rgb(105 141 253),
            -60px -370px 90px 160px rgb(105 141 253);
            }
    }
    .Slider2_2{
        .Slider{
            flex-direction: row-reverse;     
        }
        .Discript{
            justify-content: space-evenly;
            width: 45%;
            // align-items: center;
        }
        .img_shodow {
            box-shadow: 
                0px -300px 90px 160px rgb(243 86 53 / 30%),
                10px -285px 90px 160px rgb(243 86 53 / 50%),
                10px -263px 90px 160px rgb(120 43 252),
                -60px -371px 90px 160px rgb(119 43 252);
            }
    }
    .Slider2_3{
        .Slider{
            flex-direction: row-reverse;     
        }
        .Discript{
            justify-content: space-evenly;
            width: 45%;
            // align-items: center;
        }
        .img_shodow {
            box-shadow: 0px -300px 90px 160px rgb(21, 62, 245, 0.3),
            10px -250px 90px 160px  rgb(21, 62, 245, 0.5),
            10px -250px 90px 160px  rgb(124, 43, 253, 0.3),
            -60px -370px 90px 160px rgb(124, 43, 253, 0.3);
            }
    }

