
    .Slider{
        display: flex;
        justify-content: space-around;
        padding: 40px;
    
    }
    .Discript{
        display: flex;
        flex-direction: column;
        
    }


.Slider3{
    .Slider{
        padding: 45px;
        display: flex;
        justify-content: space-around;
        height: 500px;    
    }
    .Discript{
        display: flex;
        flex-direction: column;
        width: 35%;        
    }
    .img_shodow {
        box-shadow: 55px -250px 100px 150px rgb(105, 141, 253, 0.5),
                    -10px -320px 100px 150px rgb(26, 61, 245, 0.5),
                    -75px -250px 100px 150px rgb(105, 141, 253, 0.5),
                    -30px -110px 100px 150px rgb(26, 61, 245, 0.5);
        width: 0px;
        height: 0px;
        margin: 0px;
        margin-left: 250px;
        margin-top: -100px;
        }
}