.white{
    color: #FFFFFF;
    // margin-top: 70px;
}
.text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 55px;
    line-height: 67px;
}
.line_font{
    background: linear-gradient(270.2deg, #F35635 0%, #772BFC 100%);
    width: 519px;
    height: 29px;
    box-shadow: 5px 7px 20px rgba(143, 51, 213, 0.75);
    margin-top: -98px;
    margin-left: 82px;
    z-index: -1;
    

}
.line_blue{
    background: linear-gradient(90.08deg, #698DFD 0.14%, #1A3DF5 100%);
    width: 519px;
    height: 29px;
    box-shadow: 5px 7px 20px rgba(143, 51, 213, 0.75);
    margin-top: -98px;
    margin-left: 82px;
    z-index: -1;
    color: red;

}
