.Content{
    width: 600px;
    height: 600px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
    
}
.Sliders{
    background-color: red;
    width: 100%;
}