.img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 50%;
    background: url('./media/img/1.jpeg');
    flex:0.5;
}
.Content{
    height: 1000px;
    width: 100%;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    min-height: fit-content;
    background-color: #ffff;
    display: flex ;
    align-items: center;
    padding: 20px;
    margin: 20PX;
    justify-content: space-around;
}
.text{
    flex:0.5;
    color: black;
}